%p.meta
  %span.date-time
    %span.date= item[:created_at].strftime('%a %d %b %Y,')
    %span.time= item[:created_at].strftime('%I:%M %p')
  - if item[:author]
    %span.author
      by
      %span.author-name
        - if @config[:author][item[:author].to_sym]:
          %a(href="#{link_path @config[:author][item[:author].to_sym]}")= item[:author]
        - else
          = item[:author]
  - if item[:tags]
    %span.tags
      - item[:tags].sort.each do |tag|
        %span.tag
          %a(href="#{link_item @config[:tags][:page] % tag}" class='tag')= tag

