---
---
%h1
  = "#{tag.capitalize} Articles"

.tag-page
  - items_with_tag(tag).each do |item|
    .excerpt
      - url = link_item(item)
      %h2
        %a(href="#{url}" title="Full article" class="permalink")= item[:title]
      = render('_article_meta', :item => item)
      .body
        - if item[:excerpt]
          %p= item[:excerpt]
        - else
          != content || partial(item)
