---
---
:ruby

  def keywords
    if is_front_page?
      tag_set.join(', ')
    else
      tags = @item[:tags].nil? ? '' : @item[:tags].join(', ')
      keywords = @item[:keywords] || ''
      [keywords, tags].join(', ')
    end
  end

  def link_unless_current(s)
    if @item.identifier != "/#{s}/" then "<a href='/#{s}/'>#{s}</a></li>" else s end
  end
  
  def logo
    if is_front_page?
      site_name
    else
      "<a href='/'>&laquo; #{site_name}</a>"
    end
  end

!!! Strict
%html
  %head
    %title= "#{@item[:title]}"
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    %meta(name="keywords" content="#{keywords}")
    %meta(name="description" content="#{@item[:excerpt]}")
    %link(href="/style.css" media="screen" rel="stylesheet" type="text/css")

  %body
    -# needed since some content render <pre> blocks
    - content = find_and_preserve(yield)
    #main
      %ul
        %li= link_unless_current "articles"
        %li= link_unless_current "tags"
        %li
          %a(href='/atom.xml') atom feed
      .clear

      - if @item[:kind] == 'article'
        = render('_article', :item => @item, :content => content)
        = render('_other_articles_nav', :reference_item => @item)
        .clear
      - else
        = content
      .clear


